* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}


.navbar {
  /*position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);*/
  width: 90%;
  margin: auto;
  max-width: 1200px;
  height: fit-content;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.logo img {
  height: 50px;
  padding: 0;
  margin: 0;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: 0.3s;
}

.nav-links li a:hover {
  background: #f7f7f7;
}

.nav-links li a.active {
  background: #ffc107;  
  font-weight: bold;
}


.btn {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.btn:hover {
  background: black;
  color: white;
}
